.UEFA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/UEFA.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.Conference {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/conference.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.SLOVAKIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/slovakia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.SPAIN {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/spain.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.ASIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/asia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.GEORGIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/georgia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.KOSOVO {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/kosovo.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.CYPRUS {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/cyprus.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.KUWAIT {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/kuwait.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.IRAN {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/iran.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}
      
      
.AFRICA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/africa.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.COLOMBIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/colombia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.GLOBAL {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/global.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}

.NORTHERN-IRELAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/n-ireland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
}
            
.ALGERIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/algeria.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.ARGENTINA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/argentina.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.AUSTRALIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/australia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.AUSTRIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/austria.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.BELARUS {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/belarus.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.BELGIUM {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/belgium.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.BOLIVIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/bolivia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.BRAZIL {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/brazil.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.BULGARIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/bulgaria.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.CHAMPIONS {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/champions.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.CHILE {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/chile.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.CHINA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/china.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.CROATIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/croatia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.CZECH {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/czech.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.DENMARK {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/denmark.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.EGYPT {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/egypt.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.ENGLAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/england.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.ESTONIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/estonia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.EURO {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/eu.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.EUROPAL {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/euro.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.FAROE {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/faroe.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.FINLAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/finland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.FRANCE {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/france.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.GERMANY {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/germany.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.GREECE {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/greece.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.HUNGARY {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/hungary.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.ICELAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/iceland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.IRELAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/ireland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.ITALY {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/italy.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.JAPAN {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/japan.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.JORDAN {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/jordan.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.KSA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/ksa.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.LATVIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/latvia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.LITHUANIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/lithuania.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.MOROCCO {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/morocco.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.NETHERLANDS {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/netherland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.NORWAY {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/norway.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.PERU {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/peru.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.POLAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/poland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.PORTUGAL {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/portugal.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.QATAR {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/qatar.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.ROMANIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/romania.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.RUSSIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/russia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.SCOTLAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/scotland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.SERBIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/serbia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.SKOREA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/skorea.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.SLOVENIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/slovenia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.SWEDEN {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/sweden.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.SWITZERLAND {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/switzerland.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.TURKEY {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/turkey.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.UAE {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/uae.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.UKRAINE {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/ukraine.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.USA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/usa.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.WALES {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/wales.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.MEXICO {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/mexico.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.INDONESIA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/indonesia.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.PARAGUAY {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/paraguay.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 

.COSTA {
background-image: url(https://expertinho.github.io/FBT/imgs/flags/costarica.png);
background-repeat: no-repeat;
padding:15px;
float:left;
margin-top:5px;
} 
